.hidden{
  display: none;
}

:root{
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
}

/* Universal tags */
*{
  box-sizing: border-box;
  color: var(--color-light-white);
}
body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}
a{
  text-decoration: none;
  color: var(--color-white);
}
ul{
  padding-left: 0;
}
li{
  list-style: none;
}
button{
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

img {
  position:absolute;
  width:100%;
  height:100%;
  left: 0px;
  top: 0px;
  right:0px;
  bottom:0px;
  z-index: -1;
  opacity:93%;
}

#main__section{
  margin-top: 200px;
  text-align: center;
}

#login-form {
  margin-top: -80px;
}

#login-form > div{
  font-size: 20px;
}

#login-form > input {
  background-color: transparent;
  outline: none;
  width: 300px;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  padding: 0px;
  margin-left: 40px;
}

#greeting{
  margin-top: -80px;
  font-size: 40px;
}

#clock{
  font-size: 92px;
  font-weight: 700;
}

#weather__section{
  position: absolute;
  top: 10px;
  right: 10px;
}

#weather{
  font-size: 14px;
}

.weather__today{
  text-align: center;
  font-size: 18px;
}

#quote__section{
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0%);
}

#todo__section{
  margin-top: 40px;
  text-align: center;
}

#todo-form > div{
  font-size: 20px;
}

#todo-form > input{
  background-color: transparent;
  outline: none;
  width: 300px;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
}